@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-amiri: var(--font-amiri);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.font-amiri {
  font-family: var(--font-amiri), serif;
}

.font-sans {
  font-family: var(--font-inter), system-ui, sans-serif;
}
